[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
selenium = "*"
pytest-html = "*"
pytest-xdist = "*"
pytest-check = "*"

[requires]
python_version = "3.9"
